# Core functionality - changes here should be rare!
/src/app.py                   @wiktorczechyra
/src/backend/database.py      @wiktorczechyra
/src/backend/routers/auth.py  @wiktorczechyra

# The frontend will need refactored soon to be more object oriented.
/src/static/   @wiktorczechyra
